text_encoder
vision_encoder
data
tensorflow_datasets
PetImages
*.kearas
*.png
*.jpg
*.zip
*.h5
.bash_logout
.bashrc
.cache/
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.local/
.npm/
.profile
.vessl/
.viminfo
Images
StanfordExtra_V12
*.tar
captcha_images_v2
datasets
